body {
  margin: 0 auto;
  padding: 0;
  font-family: $title-font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
	background-color: #F5F5F5;
}

body, h1, h2, h3, h4, h5, h6, p, .mdl-layout-title {
	/*font-family: "Droid Sans";*/
	font-family: 'Roboto', sans-serif;
}

.published-date {
	font-size: 14px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

.nav-search-left-spacer {
	margin-right: 20px;
}

#content {
	margin-top: 100px;
	margin-bottom: 60px;
}

.mdl-navigation__link {
	font-size: 15px;
}

.mdl-layout-title {
	font-size: 30px;
}

.demo-card-wide.mdl-card {
	margin: 0 auto;
	width: 900px;
}

.posted-by {

}

.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 300px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.published-details {
	color:#3F51B5;
	margin: 10px 0 10px 5px;
}

.btn-new-post {
	background-color: #F44336;
	position: fixed;
	bottom:20px;
	right: 20px;
}

.btn-new-post:hover {
	background-color: #D32F2F;
}

.btn-new-post > .material-icons {
	color:white;
}

.small-date {
	font-size: 15px;
	color: #3F51B5;
}

a {
	color: #F44336;
	text-decoration: none;
}

a:hover {
	color: #D32F2F;
}

p {
	font-size: 15px;
	color: #212121;
}